<div class="container p-t-5">
  <app-header></app-header>
  <tabset>
    <tab heading="Point Of Sale">
      <div class="row">
        <div class="col-7">
          <div class="row">
            <div *ngFor="let product of products$ | async" class="col-6">
              <div class="card" style="width: 18rem">
                <img
                  src="{{ product.ImageURL | productimage }}"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">
                    {{ product.ProductName }}
                    (<span class="font-price">{{
                      product.Price | currency
                    }}</span
                    >)
                  </h5>
                  <p class="card-text">{{ product.ProductDescription }}</p>
                  <button
                    class="btn btn-primary"
                    [disabled]="checkCart(product)"
                    (click)="addToCart(product)"
                  >
                    <span *ngIf="!checkCart(product)"> Add to cart </span>
                    <span *ngIf="checkCart(product)"> Added </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <ul class="list-group list-group-flush font-weight-bold">
            <li class="list-group-item item-title">
              <div class="row">
                <div class="col-1">No.</div>
                <div class="col-2">Coffee</div>
                <div class="col-3">Unit Price</div>
                <div class="col-3 text-center">Qty</div>
                <div class="col-2">Price</div>
                <div class="col-1">Action</div>
              </div>
            </li>
          </ul>
          <ul class="list-group list-group-flush file-data">
            <li
              *ngFor="let cart of cart; index as i"
              class="list-group-item item"
            >
              <div class="row">
                <div class="col-1">{{ i + 1 }}</div>
                <div class="col-2">{{ cart.ProductName }}</div>
                <div class="col-3 text-right">{{ cart.Price | currency }}</div>
                <div class="col-3 text-center">
                  <div class="row">
                    <div class="col-4">
                      <button
                        class="qtyBtnLeft btn btn-secondary"
                        (click)="decrementQty(cart.Id)"
                      >
                        &#5130;
                      </button>
                    </div>
                    <div class="col-4">
                      <input
                        type="number"
                        id="qtyBox"
                        value="{{ cart.Qty }}"
                        disabled
                      />
                    </div>
                    <div class="col-4">
                      <button
                        class="qtyBtnRight btn btn-secondary"
                        (click)="incrementQty(cart.Id)"
                      >
                        &#5125;
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-2 text-right">
                  {{ cart.Price * cart.Qty | currency }}
                </div>
                <div class="col-1">
                  <button
                    class="qtyBtnLeft btn btn-danger"
                    (click)="removeItem(cart.Id)"
                  >
                    X
                  </button>
                </div>
              </div>
            </li>
          </ul>
          <ul class="list-group list-group-flush font-weight-bold">
            <li class="list-group-item item-title">
              <div class="row">
                <div class="col-6 font-weight-bold">Total Price</div>
                <div class="col-6 font-weight-bold text-right">
                  {{ totalPrice | currency }}
                </div>
              </div>
            </li>
          </ul>
          <ul class="list-group list-group-flush font-weight-bold">
            <li class="list-group-item item-title">
              <div class="row">
                <div class="col-12 font-weight-bold text-right">
                  <button
                    class="btn btn-primary btn-lg btn-block"
                    [disabled]="cartEmpty || payed"
                    (click)="showModal()"
                  >
                    Check Out
                  </button>
                </div>
              </div>
            </li>
          </ul>
          <ul
            *ngIf="payed"
            class="list-group list-group-flush font-weight-bold"
          >
            <li class="list-group-item item-title">
              <div class="row">
                <div class="col-12 font-weight-bold text-right">
                  <div class="alert alert-success" role="alert">
                    <div class="row">
                      <div class="col-9">
                        Payment Successful, Thank you for shopping with us.
                      </div>
                      <div class="col-3">
                        <button
                          class="btn btn-outline-secondary btn-sm"
                          (click)="shopAgain()"
                        >
                          Shop Again
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </tab>
    <tab heading="All Clients Points">
      <div class="container">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item item-title font-weight-bold">
              <div class="row">
                <div class="col-1">No.</div>
                <div class="col-4">Client Name</div>
                <div class="col-2">Points</div>
                <div class="col-2 text-center">Cash Value</div>
                <div class="col-3">Action</div>
              </div>
            </li>
            <ul class="list-group list-group-flush file-data">
              <li
                *ngFor="let user of users$ | async; index as i"
                class="list-group-item item"
              >
                <div class="row">
                  <div class="col-1">{{ i + 1 }}</div>
                  <div class="col-4">
                    {{ user.FirstName }} {{ user.LastName }}
                  </div>
                  <div class="col-2">{{ user.PointsEarned }}</div>
                  <div class="col-2 text-center">
                    {{ user.PointsEarned | pointsconversion | async }}
                  </div>
                  <div class="col-3">
                    <Button Class="btn btn-primary" disabled>view</Button>
                  </div>
                </div>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </tab>
  </tabset>
</div>
<router-outlet></router-outlet>
